/*** START LAYOUT ***/
* { box-sizing:border-box; margin:0; padding:0; }
.well { height:550px; }
.cf { clear:both; }
/*** END LAYOUT ***/

/*** START HEADER ***/
h1 { font-family:"Lobster"; color: rgba(44, 160, 44, .80);}

.socialmediaicons {
	padding-top:25px;
	float:right;
}

.socialmediaicons .title {
	float:left;
	font-size:25px;
	font-family:"Lobster"; color: rgb(31, 119, 180);
}

.socialmediaicons ul {
	float: right;
	list-style-type:none;
}

.socialmediaicons ul li {
	margin-right:5px;
	float:left;
}

.socialmediaicons ul li img {
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

#github { border: 1px solid black;}

hr{
    margin-top: 10px;
    margin-bottom: 30px;
 }
/*** END HEADER ***/

/*** START SIDEBAR ***/
#sidebar {  border: 1px solid #ccc; height: 550px; margin-bottom: 10px; }
.search { font-size: .8em;}
.search input{ margin-bottom:5px; width: 100%;}
.search #sidebar-content #matched-record { border: 1px solid black; border-radius: 10px; margin-bottom:10px; padding:4px; }
.search #sidebar-content #matched-record span.up { color:green;}
.search #sidebar-content #matched-record span.down { color:red;}

/**** START UL\LI Table ****/
.search #sidebar-content .cell{ box-sizing: border-box; display: inline-block; padding-top:4px; padding-bottom:4px; text-align: left; }
.search #sidebar-content .tableheader { padding:0px; width:100%;}
.search #sidebar-content .tableheader .country.cell {width:50%; }
.search #sidebar-content .tableheader .year.cell { width:23%;  }
.search #sidebar-content .tableheader .cell {cursor: default; font-weight: bold; margin: 0px; }
.search #sidebar-content ul{ height:430px; list-style: none; overflow:scroll; padding:0px; }
.search #sidebar-content ul li{ cursor:pointer;  }
.search #sidebar-content .countryList .country.cell { width:50%; }
.search #sidebar-content .countryList .year.cell { width:23%; }
.search #sidebar-content .countryList .country#active{ cursor:default !important;}
/**** END UL\LI Table ****/

/*** END SIDEBAR ***/

/****START LEGEND ***/
#graph-container #graph-legend { text-align: center;}
/*** END LEGEND ***/

/*** START LINE GRAPH ***/

/*path { fill: none;}*/
path.line { stroke: black; opacity: 0.7; fill: none; }
path.domain{ stroke:black; stroke-width:1 !important;}
path:hover { fill: #EED6A5; }

.axis path, /*fill: none will keep axis path thin; */
.axis line { fill: none; stroke: black; shape-rendering: crispEdges; }/*stroke is for tick lines */
.axis text { font-family: sans-serif; font-size: 11px; }

.line { fill: none; } /*fill: none removes the additional color that fills the line top/bottom */

.lineChart { width:100%; height:510px;}

#graph-legend .legend:hover { cursor:pointer;  }
.lineChart .legend:hover { cursor:pointer;  }

/**** START Tooltip ****
.s3tooltip {
position: absolute;
padding: 5px;
pointer-events: none;
border: 1px solid green;
border-radius: 12px;
line-height: 20px;
opacity: .07;
background-color:white;
}
/**** END Tooltip ****/

/*** End Line Graph ***/

/*** START ANGULAR SPECIFIC ***/
.example-animate-container {
  background:white;
  border:1px solid black;
  list-style:none;
  margin:0;
  padding:0 10px;
}

.animate-repeat {/*line-height:40px;*/ list-style:none; box-sizing:border-box; }

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave { transition:all linear 0.9s; }

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter { opacity:0; max-height:0; }

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active { opacity:.4; max-height:40px; }

/*** END ANGULAR SPECIFIC ***/
